<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Просмотр файлов</title>
</head>
<body>
    <div style="display: flex; flex-direction: column; align-items: center;" class="container mt-5">
        <h1>Просмотр и загрузка файлов с Яндекс диска</h1>
        <form style="display: flex; flex-direction: column; align-items: center;" action="folder" method="get">
            <label style="font-size: 20px;" for="public_key">Вставьте публичный ключ директории:</label>
            <input style="width: 100%;" type="text" id="public_key" name="public_key" required>
            <button style="margin-top: 10px;" type="submit">Просмотреть файлы</button>
        </form>
        <a href="/logout">Выйти</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>